body {
    background-image: url("../img/checkered_cloth.jpg");
    background-repeat: repeat-x;
}

h1 {
    color: gold;
    font-family: 'Vampiro One', cursive;
}

h2 {
    margin-top: 1em;
    color: red;
}

.container {
    background-color: blue;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
}

.btn {
    background-color: red;

}

p {
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;
    max-width: 100%;
}

i {
    padding-right: 1em;
    margin-bottom: .25em;
    color: blue;
}